@{
    ViewBag.Title = "Index";
}

<h2>Arith</h2>

@using (Html.BeginForm("Index", "Arith", FormMethod.Get))
{
    <p>
        M =
        @Html.TextBox("m")
    </p>
    <p>
        N =
        @Html.TextBox("n")
    </p>
    @Html.Label("add",(string)@ViewBag.Add)
    @Html.Label("subtract",(string)@ViewBag.Subtract)
    @Html.Label("multiply",(string)@ViewBag.Multiply)
    @Html.Label("divide",(string)@ViewBag.Divide) @Html.Label("mod",(string)@ViewBag.Mod)
    <input type="submit" value="eval">
      
}
