@{
    ViewBag.Title = "Index";
}

<h2>Arith</h2>

@using (Html.BeginForm())
{
    <p>
        M =
        <input id="M" type="text" value="3" />
    </p>
    <p>
        N =
        <input id="N" type="text" value="4" />
    </p>
    @Html.Label("add",(string)@ViewBag.Add)
    @Html.Label("subtract",(string)@ViewBag.Subtract)
    @Html.Label("multiply",(string)@ViewBag.Multiply)
    @Html.Label("divide",(string)@ViewBag.Divide) @Html.Label("mod",(string)@ViewBag.Mod)
    <input type="submit" value="index">
      
}
